<!doctype html>


<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    </head>
  <body>
 
    <div class="wrapper">

      <sidemenu>
	<ul>
	  <li class="sidemenu"><a href="{{ '/' | relative_url }}">ホーム</a></li>
	  <li class="sidemenu"><a href="{{ '/sub1' | relative_url }}">プロフィール </a></li>
	  <li class="sidemenu"><a href="{{ '/sub2' | relative_url }}">論文/プレプリント </a></li>
	  <li class="sidemenu"><a href="{{ '/sub3' | relative_url }}">講演履歴 </a></li>
	  <li class="sidemenu"><a href="{{ '/sub4' | relative_url }}">リンク/その他 </a></li>
        <p>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</p>
        <p><big><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a><big></p>
	</ul>
      </sidemenu>
      <!--  Markdown の本体 -->
      <section>
	{{ content }}
      </section>
      <footer>

      </footer>
    </div>
    
  </body>
</html>
